body {
  padding: 50px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #666;
  background: #ffffff;
}
.app-name {
  color : #0550b3;
}

input,
textarea,
button {
  font: inherit;
}
